<style type="text/css">
    .FsNode {
        margin-left: 18px;
        font-family: Arial;
        font-size: 9pt;
    }


    /* lines */
    .FsNodeIsRoot {
        /*margin-left: 0;*/
    }

    .IsMiddleFsNode {
        background-image: url(/wwwroot/imgs/i.gif);
        background-position: top left;
        background-repeat: repeat-y;
    }

    .FsNodeIsLast {
        background-image: url(/wwwroot/imgs/i_half.gif);
        background-repeat: no-repeat;
    }


    /* expand */
    .FsNodeExpand {
        width: 18px;
        height: 18px;
        float: left;
    }

    .FsNodeExpandIsOpen .FsNodeExpand {
        background-image: url(/wwwroot/imgs/expand_minus.gif);
        cursor: pointer;
    }

    .FsNodeExpandIsClosed .FsNodeExpand {
        background-image: url(/wwwroot/imgs/expand_plus.gif);
        cursor: pointer;
    }

    .FsNodeExpandIsLeaf .FsNodeExpand {
        background-image: url(/wwwroot/imgs/expand_leaf.gif);
        cursor: auto;
    }

    /* content */
    .FsNodeContent {
        min-height: 18px;
        margin-left: 18px;
    }

        .FsNodeContent:hover {
            background-color: #ffffbb;
        }

    .FsNodeContentIsSelected {
        background-color: #ffff99;
    }

    /* container */
    .FsNodeContainer {
        padding: 0;
        margin: 0;
    }

    .FsNodeExpandIsOpen .FsNodeContainer {
        display: block;
    }

    .FsNodeExpandIsClosed .FsNodeContainer {
        display: none;
    }

    .FsNodeExpandIsLeaf .FsNodeContainer {
        display: block;
    }
</style>

<div style="height: 100%; overflow: auto;" onclick='FsTree.click(arguments[0])'>
    @Html.Raw(TempData["html"])
</div>

<script type="text/javascript">
    var FsTree = (function () {
        function openDir(path, targetNode) {
            var path = escape(path).replace(/\+/g, '%2B');
            var data = 'path=' + path;
            $.post('/rd/getdirectoryinfo', data, function (data) {
                n = $.parseHTML(data);
                let newNode = $(n).find('.FsNodeContainer')[0];
                targetNode.find('.FsNodeContainer').replaceWith(newNode);
            });
        }
        return {
            click: function (event) {
                event = event || window.event;
                let clickedElem = $(event.target || event.srcElement);
                let node = clickedElem.parent();
                let type = node.attr("data-node-name");
                let path = node.attr("data-path");

                // выбран узел (+-.) перед описанием (Content)
                if (clickedElem.hasClass('FsNodeExpand')) {
                    if (type == 'dir') {
                        // переключить класс для узла
                        let isExpandOpen = node.hasClass('FsNodeExpandIsOpen');
                        if (isExpandOpen) {
                            node.removeClass('FsNodeExpandIsOpen').addClass('FsNodeExpandIsClosed');
                        } else {
                            node.removeClass('FsNodeExpandIsClosed').addClass('FsNodeExpandIsOpen');
                        }
                        // зарузить только если cont пуст
                        if ((!isExpandOpen) && (node.find('.FsNodeContainer').children().length == 0)) {
                            openDir(path, node);
                        }
                    }
                }

                // выбрано описание
                if (clickedElem.hasClass('FsNodeContent')) {
                    $('.FsNodeContentIsSelected').removeClass('FsNodeContentIsSelected');
                    clickedElem.addClass('FsNodeContentIsSelected');
                    DocsRdViewsHomeRd.fileSystemRowClick(path, type);
                }
            }
        };
    })();
</script>
