<style type="text/css">
    #views_home_rd_index .filter {
        border-left: 1px solid black;
        border-top: 1px solid black;
        width: 400px;
        height: 500px;
        float: left;
        overflow: auto;
    }

    #views_home_rd_index .file_tree {
        border-left: 1px solid black;
        border-top: 1px solid black;
        border-right: 1px solid black;
        margin-left: 401px;
        height: 500px;
        overflow: auto;
    }

    #views_home_rd_index .cmd {
        border-left: 1px solid black;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        width: 300px;
        height: 300px;
        float: left;
        overflow: auto;
    }

    #views_home_rd_index .inf {
        border-left: 1px solid black;
        border-top: 1px solid black;
        border-right: 1px solid black;
        border-bottom: 1px solid black;
        margin-left: 301px;
        height: 300px;
        overflow: auto;
    }

    #views_home_rd_index .inf .path {
        height: 30px;
        overflow: hidden;
    }

    #views_home_rd_index .inf .inf {
        height: 270px;
        overflow: hidden;
    }
</style>

<div id="views_home_rd_index">
    <div class="filter">
        <p>Фильтр</p>
    </div>
    <div class="file_tree">
        @RenderPage("~/Views/Rd/FileSys.cshtml")
    </div>
    <div class="cmd">
        <input type="button" value="Открыть" onclick="DocsRdViewsHomeRd.cmdOpen();" />
    </div>
    <div class="inf">
        <div class="path"></div>
        <div class="pars"></div>
    </div>
</div>

<script type="text/javascript">
    var DocsRdViewsHomeRd = (function () {
        let mainDiv = $('#views_home_rd_index');
        let filterDiv = mainDiv.find('div.filter');
        let fileTreeDiv = mainDiv.find('div.file_tree');
        let cmdDiv = mainDiv.find('div.cmd');
        let infDiv = mainDiv.find('div.inf');
        return {
            // вызов из FsTree
            // type - Имя узла на котором был клик или 'dir' или 'file'
            fileSystemRowClick: function (path, type) {
                infDiv.find('div.path').text(path);
                infDiv.find('div.pars').empty();
                let data = 'cmd=GetFsInfo' +
                    '&path=' + escape(path).replace(/\+/g, '%2B');
                if (type == 'file') {
                    $.post('/rd/getfsinfo', data, function (data) {
                        //alert(data);
                        infDiv.find('div.pars').html(data);
                    });
                }
            },
            cmdOpen: function () {
                let path = infDiv.find('div.path').text();
                if (path) {
                    let body = $(document.body);
                    let guid = Nskd.Js.guid();

                    path = escape(path).replace(/\+/g, '%2B');

                    var iframe = $('<iframe name="' + guid + '" style="display: none;" />');
                    iframe.appendTo(body);
                    iframe[0].onload = function () { body[0].removeChild(iframe[0]); iframe[0] = null; };

                    var form = $('<form method="post" action="/rd/fs" target="' + guid + '" enctype="multipart/form-data" style="display: none;" onsubmit="return false;"></form>');
                    form.appendTo(body);
                    form.append('<input type="hidden" name="cmd" value="DownloadFile" />');
                    form.append('<input type="hidden" name="path" value="' + path + '" />');

                    form[0].submit();
                    body[0].removeChild(form[0]);
                    form[0] = null;
                }
            }
        };
    })();
</script>
